<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="EnvironmentName" value="{{ env_name }}" />
    <add key="ApiKey" value="{{ api_key | default('') }}" />
  </appSettings>
</configuration>

